@import url("/node_modules/bootstrap-icons/font/bootstrap-icons.css");
@import  'custom'; 

body {
    background: url(/image/image-accueil/fond-feuillage-tropical_53876-91352.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh; 
}

.logo
{
    width: 250px;
    height: 150px;
    border-radius: 50%
}
.nav-link {
    color: #000;
    margin-right: 40px;
}
footer {
    width: 100%;
    height: 80px;
    color: #fff;
    font-size: 25px;
    font-family: $font-family-serif;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}

.contener {
    margin-left: 10px;
}

.logo {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}
.presentation {
    margin-left: 20%;
    margin-right: 20%;
    font-size: 25px;
    text-align: center;

}

p {
    font-family: "Apple Chancery", cursive; 
    color: #fff;
    
}

h1 {
    font-family: "Comic sans ms", sans-serif;
    font-size: 60px;
    text-align: center;
    color: #fff;
    padding-bottom: 50px;
    padding-top: 10px;
    text-decoration-line: underline;
}



h3 {
    color: #fff;
    font-family: "Comic sans ms", sans-serif;
    font-size: 30px;
    padding-bottom: 50px;
    padding-top: 10px;
    text-align: center;
}
h5 {
    color: #fff;
    font-family: "Comic sans ms", sans-serif;
    font-size: 30px;
    padding-bottom: 15px;
    padding-top: 10px;
    text-align: center;
}

h4 {
    font-size: 30px;
    font-weight: bold;
    color: #fff;
    text-align: center;
    font-family: "Comic sans ms", sans-serif;
    padding-top: 20px;
    padding-bottom: 20px;
}

.button {
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 20px;
    text-decoration: none;
    background-color: #ffffff;
    border: 3px solid #000000;
    padding: 10px 20px;
    border-radius: 5px;
    color: #000000;
}

.contact {
    font-size: 25px;
    font-family: 'Consolas', sans-serif;
    margin-bottom: 20px;
}

.p1 {
    padding-bottom: 30px;
}

.content-wrapper {
    display: flex;
    justify-content: space-between;
    gap: 20px; 
    width: 100%;
    max-width: 1500px; 
}

.avis, .horaire {
    text-align: center;
    background: url(/image/image-accueil/arbre-photorealiste-branches-tronc-exterieur-dans-nature_23-2151478131.jpg);
    background-size: cover;
    width: 100%;
    flex: 1; 
    padding: 20px;
    border: 3px solid #535252;
    border-radius: 15px;
    box-sizing: border-box; 
    display: flex;
    flex-direction: column;
    align-items: center;
}

.avis h3 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 30px;
    color: #fff;
}

.avis-bubble {
    background: #fff;
    border: 3px solid #535252;
    border-radius: 15px;
    padding: 20px;
    margin-bottom: 20px;
    position: relative;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 100%;
    width: 100%;
    box-sizing: border-box;
}

.avis-bubble::after {
    content: "";
    position: absolute;
    bottom: -20px; 
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 15px solid #fff; 
}

.avis-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.avis-author {
    font-weight: bold;
    margin-bottom: 10px;
}

.etoile {
    width: 100px;
    margin-bottom: 10px;
}

.avis-text {
    background-color: #ffffff;
    border: 3px solid #000000;
    padding: 10px 20px;
    border-radius: 5px;
    color: #000000;
}

.button a {
    text-decoration: none;
    color: #000000;
}

.plan-site {
    margin-top: 30px;
    text-decoration: none;
    background-color: #ffffff;
    padding: 15px;
    border-radius: 5px;
    text-transform: uppercase;
    color: #000000;
    border: solid 3px #000000;
    margin-left: 20px;
}

.plan {
    width: auto;
    height: 750px;
}

.modale {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(77, 77, 77, .7);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modale:target {
    visibility: visible;
    opacity: 1;
}

.modale_content {
    padding: 1.5em 2em;
    width: 800px;
    max-width: 90%;
    border: 15px;
    position: relative;
}

.modale_close {
    position: absolute;
    font-size: x-large;
    right: 280px;
    top: 90px;
    color: red;
}

#box {
    min-height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
}

#board {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 20px;
    text-align: center;
}

.container {
    width: 450px;
    height: 700px;
    perspective: 1000px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.container:hover .card {
    cursor: pointer;
    transform: rotateY(180deg);
}

.card {
    background: #34ae71a4;
    height: 700px;
    width: 450px;
    position: relative;
    transition: transform 3s;
    transform-style: preserve-3d;
    border-radius: 25px;
}

.card .image {
    width: 450px;
    height: 400px;
    border-radius: 25px;
    margin-top: 80px;
}

.card .image2 {
    width: 300;
    height: 250px;
    border-radius: 25px;
    
}

.front,
.back {
    height: 100%;
    width: 100%;
    border-radius: 2rem;
    box-shadow: 0 0 5px 2px rgba(24, 24, 24, 0.25);
    position: absolute;
    backface-visibility: hidden;
}

.back {
    color: #fff;
    background-color: #444343;
    transform: rotateY(180deg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    text-align: center;
}


.card .container{
    position: absolute;
    width: 450px;
    height: 700px;
    border-radius: 10px;
    padding: 20px;
    transition:  0.5s;
    left: calc(50% - 110px);
    top: 0;
}


.card image {
    width: 450px;
    height: 400px;
    border-radius: 25px;
    margin-top: 80px;
}

.card .image1 {
    width: 300;
    height: 200px;
    border-radius: 25px;
    margin-top: 0;
}

.box .icons {
    width: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 20px;
    background: #fff;
    border-radius: 5px;
    border: solid #000 3px;

}


.icons .like {
    width: 30px;
    border-right: #000 solid 2px;
    pointer-events: none;
    margin-right: 5px;
}


.button {
    width: 30px;
    height: 30px;
    float: right;
    cursor: pointer;
}

.like {
    color: black;

}
@media screen and (max-width: 768px) {
    .resto1 img, .video1, .video2, .train {
        width: 100%;
        margin-left: 0;
    }

    .restauration, .aventure {
        width: 100%;
        padding: 10px;
    }

    h2, h3 {
        font-size: 2rem;
    }

    h4 {
        font-size: 1rem;
    }

    p, .aventure, .restauration {
        font-size: 0.875rem; 
        line-height: 1.4;
    }
}

@media screen and (max-width: 768px) {
    .visite-guide {
        flex-direction: column; 
        align-items: center;
    }

    .visite {
        order: 2; 
        background-color: transparent; 
        border: none; 
        border-radius: 0; 
        color: #fff; 
    }

    .guide {
        order: 1;
        border: none; 
        border-radius: 0;
    }
}

@media (max-width: 768px) {
    
    #board {
        grid-template-columns: auto;
        grid-template-rows: auto;
        gap: 10px;
    }

    .container {
        width: auto;
        height: auto;
    }

    .card {
        width: 400px;
        height: 600px;
    }

    .card .image, .card .image1 {
        width: 100%;
        height: auto;
    }

}

